# Ignore build artifacts
target/
**/target/
*.jar

# Include Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.classpath
.project
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
build/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
